body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #f1f1f8; 
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
}

.p-large {
	color: #f1f1f8;
	font: 400 1rem/1.5rem "Open Sans", sans-serif;
}

h1 {
	color: #f1f1f8;
	font: 700 2.5rem/2.875rem "Montserrat", sans-serif;
}

a {
	color: #f1f1f8;
	text-decoration: underline;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #1c9ef7;
	border-radius: 2rem;
	background-color: #1c9ef7;
	color: #fff;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #1c9ef7;
	text-decoration: none;
}

.btn-solid-lg .fab {
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 0;
	vertical-align: top;
}

.btn-solid-lg .fab.fa-google-play {
	font-size: 1rem;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #1c9ef7;
	border-radius: 2rem;
	background-color: transparent;
	color: #1c9ef7;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-outline-lg:hover {
	background-color: #1c9ef7;
	color: #fff;
	text-decoration: none;
}

.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #2f2c3d;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #fff;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}

.header {
	background: linear-gradient(to bottom right, rgba(72, 72, 212, 0), rgba(241, 104, 104, 0)), url('../images/header-background.jpg') center center no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
}

.header .header-content {
	text-align: center;
	justify-content: center;
	align-items: center;
}

.header .text-container {
	margin-bottom: 3rem;
	justify-content: center;
	align-items: center;
}

.header h1 {
	justify-content: center;
	align-items: center;
}

.header .p-large {
	margin-bottom: 2.70rem;
	justify-content: center;
	align-items: center;
}

.header .btn-solid-lg {
	justify-content: center;
	align-items: center;
	flex: 1
}

a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

@media (min-width: 768px) {
	h1 {
		font: 700 3.25rem/3.75rem "Montserrat", sans-serif;
	}
}


@media (min-width: 992px) {
	.header .header-content {
		text-align: center;
	}
}

@media (min-width: 1200px) {
	.header .text-container {
		text-align: center;
	}
}
